.hide{
    display: none;
}
.car{
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: blue;
    font-size: 2em;
    text-align: center;
    vertical-align:middle ;
    background-image: url(car.png);
    background-size: cover;
}
.enemy{
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: blue;
    font-size: 2em;
    text-align: center;
    vertical-align:middle ;
    background-image: url(car3.jpg);
    background-size: cover;
}
.line{
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 195px;
    background-color: white;
}
.score{
    background-color: black;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: fantasy;
}
.gameArea{
    background-color: black;
    width: 400px;
    height: 675px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.startScreen{
    background-color: red;
    color: white;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin: auto;
    width: 50%;
    position: absolute;
    z-index: 1;
    left: 20%;
    right: 20%;
    top: 40%;
}
.button1{
    height: 5%;
    width: 12%;
    left: 25%;
    bottom: 6%;
    position: absolute;
    background-color: rgb(19, 158, 168);
    background-image: url(leftarrow1.png);
    background-repeat: no-repeat;
    background-size:contain;
    
}
.button2{
    height:5%;
    width: 12%;
    left: 45%;
    bottom: 10%;
    position: absolute;
    background-color: rgb(19, 158, 168);
    background-image: url(uparrow1.png);
    background-repeat: no-repeat;
    background-size:contain;
}
.button3{
    height: 5%;
    width: 12%;
    left: 45%;
    bottom: 3%;
    position: absolute;
    background-color: rgb(19, 158, 168);
    background-image: url(downarrow1.png);
    background-repeat: no-repeat;
    background-size:contain;
}
.button4{
    height: 5%;
    width: 12%;
    right: 25%;
    bottom: 6%;
    position: absolute;
    background-color: rgb(19, 158, 168);
    background-image: url(rightarrow1.png);
    background-repeat: no-repeat;
    background-size:contain;
}